body {
  background-color: #1453b2;
  padding: 8px;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  gap: 1rem;
}
.item {
  padding: 2rem;
  border: 1rem solid lightseagreen;
  font-family: sans-serif;
  background-color: white;
}
