* {
  box-sizing: border-box;
}

.link {
  font-size: 2rem;
  list-style: none;
  border: 1px solid black;
  background-color: #ececec;
  width: 400px;
}

.a-link {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  background-image: url("../images/flecha_inactiva.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position-y: center;
  background-position-x: 8px;
  padding: 8px 8px 8px 48px;
}

.a-link:hover {
  background-color: #ccc;
  background-image: url("../images/flecha_activa.png");
}
