* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-align: center;
}

header,
article,
aside,
footer {
  border: 2px solid black;
}
footer {
  height: 100px;
  text-align: center;
}

/*-------------Estilos Generales ---------------*/
.container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 8px;
}

.flex-container {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-4 {
  flex: 4;
}

/*-------------Estilos Header ---------------*/
header {
  flex-wrap: wrap;
  text-align: center;
}

.banner {
  min-width: 100%;
  height: 100px;
  border: 3px solid orangered;
}

.menu-container {
  width: 100%;
}

/*-------------Estilos Menu ---------------*/
.item {
  text-align: center;
  list-style: none;
}
.item a {
  display: block;
  text-decoration: none;
  padding: 8px;
}

/*-------------Estilos Aside ---------------*/
aside {
  flex-wrap: wrap;
  padding: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ads {
  min-width: 100%;
  height: 100px;
  border: 3px solid orangered;
}

/*-------------Estilos card ---------------*/
.product-container {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.card {
  width: 46%;
  max-width: 420px;
  border: 3px solid #046abd;
  margin: 8px;
  padding: 8px;
}

/*-------------Estilos Tablet ---------------*/

@media screen and (max-width: 768px) {
  section {
    flex-wrap: wrap;
  }
  article,
  aside {
    min-width: 100%;
  }
}

/*-------------Estilos Mobil ---------------*/

@media screen and (max-width: 420px) {
  .nav,
  .logo,
  .social {
    min-width: 100%;
  }
  .menu-container {
    flex-wrap: wrap;
  }
  section {
    flex-wrap: wrap;
  }
  .card {
    width: 100%;
  }
  .menu {
    flex-direction: column;
  }
}
